<ion-header [translucent]="true"> 
  <ion-toolbar color="medium">
    <ion-title>
      Calculadora Simples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-card>

    <ion-item>
      <ion-label position="stacked">Primeiro Número:</ion-label>
      <ion-input type="number" [(ngModel)]="numero1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Segundo Número:</ion-label>
      <ion-input type="number" [(ngModel)]="numero2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>Resultado: </strong>
      </ion-label>
      <div  class="resultado">{{ resultado }}</div>
    </ion-item>

    <ion-button expand="block" (click)="limpar()" color="medium">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Limpar
    </ion-button>

    <ion-button expand="block" (click)="somar()" color="medium">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Somar
    </ion-button>

    <ion-button expand="block" (click)="subtrair()" color="medium">
      <ion-icon slot="start" name="remove-outline"></ion-icon>
      Subtrair
    </ion-button>

    <ion-button expand="block" (click)="dividir()" color="medium">
      <ion-icon slot="start" name="resize-outline"></ion-icon>
      Dividir
    </ion-button>

    <ion-button expand="block" (click)="multiplicar()" color="medium">
      <ion-icon slot="start" name="close-outline"></ion-icon>
      Multiplicar
    </ion-button>

  </ion-card>
  
</ion-content>
